{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="{% static 'main/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'main/css/carrosel.css' %}" />
  <link rel="preconnect" href="https://fonts.googleapis.com" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
  <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet" />
  <title>MovieStar</title>
</head>
<body class="app">
  <!-- HEADER -->
  <header class="cabecalho">
    <nav class="lista__cabecalho">
      <p href="logo">MovieStar⭐</p>
      <input type="text" id="campoBusca" placeholder="🔍​Buscar filme..." />

      {% if request.user.is_authenticated %}
        <p>Olá, {{ request.user.username }}</p>
      {% endif %}

      {% if request.user.is_authenticated %}
        <form action="{% url 'logout' %}" method="post" style="display:inline;">
          {% csrf_token %}
          <button type="submit" class="cabecalho__click" style="background:none; border:none; cursor:pointer;">Sair</button>
        </form>
      {% endif %}
      
      <article>
        {% if request.user.is_authenticated and request.user.profile.is_movie_admin %}
          <a href="{% url 'add_filme' %}" class="btn-add">Adicionar Filmes</a>
        {% endif %}
        {% if not request.user.is_authenticated %}
          <a class="cabecalho__click" href="{% url 'index_login' %}">Login</a>
        {% endif %}
        <a class="cabecalho__click" href="">🛒​</a>
      </article>
    </nav>
  </header>

  <!-- MAIN -->
  <main>
    <!-- DESTAQUE -->
    {% if destaque %}
    <section class="imagem__principal" id="destaque" style="background-image: url('{{ destaque.capa.url }}');">
      <div class="overtext">
        <h1 class="titulo__imagem">{{ destaque.nome }}</h1>
        <p class="descricao__imagem">{{ destaque.sinopse|linebreaksbr }}</p>
        <p class="imdb">IMDB {{ destaque.nota_imdb }}</p>
        <button>Alugar R$7,90</button>
        <button onclick="window.location.href='{{ destaque.link_trailer }}'">Ver trailer</button>
      </div>
    </section>
    {% endif %}

    <!-- CARROSÉIS POR CATEGORIA -->
    {% for categoria_nome, filmes in categorias %}
      {% if filmes %}
        <h2>{{ categoria_nome }}</h2>
        <section class="carrossel-container">
          <button class="btn btn-left">&#10094;</button>
          <div class="carrossel">
            {% for filme in filmes %}
              <article class="filme">
                <img src="{{ filme.capa.url }}" alt="{{ filme.nome }}" />
                <div class="overlay">
                  <p>Alugar por R$ 7,90</p>
                  <button>Adicionar ao carrinho</button>
                  <br />
                  <button onclick="window.location.href='{{ filme.link_trailer }}'">Ver trailer</button>
                </div>
              </article>
            {% endfor %}
          </div>
          <button class="btn btn-right">&#10095;</button>
        </section>
      {% endif %}
    {% endfor %}
  </main>

  <!-- FOOTER -->
  <footer class="footer">
    <p class="logo__footer">MovieStar⭐</p>
    <article>
      <a href="https://www.termsfeed.com/live/95e042e5-41de-4507-9929-43f2ed241a31">Termos e aviso de privacidade</a>
      <p>©2025 - MovieStar, todos os direitos reservados</p>
    </article>
  </footer>

  <script src="{% static 'main/js/interaction.js' %}"></script>
</body>
</html>
